<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head.ejs') %>

    <body>
        
        <%- include('./partials/header.ejs') %>

        <div class="cajaProductosGeneral">

            <% products.forEach(product => { %>
            <div class="productosIndividual">  
           
                    <img src="/img/imgProducts/<%=product.imageProduct%>" alt="">
                    <a href="/product/detail/<%= product.idProduct %>">Ver</a>
                    <p> <%=product.nameProducto%></p>
                    <p><%= product.precioProduct%></p>
                    <button >
                        Agregar al carrito 
                    </button>
              
            </div>
            <% }); %>
        </div>

        <%- include('./partials/footer.ejs') %>

    	<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="js/js-estilo.js"></script>
		
    </body>

</html>